<div class="livecontainer">
  <div class="messagebox">
    <%= for message <- @messages do %>
    <p>
      <strong><%= message.name %>:</strong> <%= message.content %>
    </p>
    <% end %>
  </div>
  <div class="text-entry">
    <form action="#" phx-submit="add">
      <%= hidden_input :message, :name, value: @name %>
      <%= text_input :message, :content, placeholder: "Message" %>
      <%= submit "Send", phx_disable_with: "Sending...", class: "button" %>
    </form>

  </div>
</div>